/**/*.gz
/**/*.fastq
/**/*.fq
/**/*.fasta
/**/*.zip
/**/*.html
/**/*.catg
/**/*.loci
/**/*.geno
/**/*.gphocs
/**/*.hdf5
/**/*.nex
/**/*.phy
/**/*.map
/**/*.snps
/**/*.str
/**/*.geno
/**/*.ustr
/**/*.vcf
/**/*.tsv
